displayName: Traefik Real IP
type: middleware
import: github.com/zekihan/traefik-real-ip
summary: Extracts the real client IP address from various HTTP headers.
#iconPath: public/icon.png
#bannerPath: public/banner.png
testData:
  thrustLocal: true
  thrustCloudFlare: true
  thrustEdgeOne: true
  trustedIPs:
    - "127.0.0.1/32"
  logLevel: info
