global:
  checkNewVersion: false
  sendAnonymousUsage: false

entryPoints:
  web:
    address: :80
    proxyProtocol:
      trustedIPs: &trustedIps
        - "127.0.0.0/8" # private ip
        - "10.0.0.0/8" # private ip
        - "172.16.0.0/12" # private ip
        - "192.168.0.0/16" # private ip
    forwardedHeaders:
      trustedIPs: *trustedIps

ping:
  entryPoint: traefik

providers:
  docker:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: false
    network: traefik-real-ip_proxy
    watch: true
    constraints: Label(`traefik-real-ip.enable`,`true`)
  file:
    directory: /etc/traefik/mconfig/
    watch: true

traefikLog:
  filePath: /var/logs/traefik/traefik.log
  format: json

log:
  level: DEBUG
  format: common

accessLog:
  bufferingSize: 0
  format: common
  filters:
    statusCodes:
      - "100-800"
    retryAttempts: true
    minDuration: 0ms

  fields:
    defaultMode: keep

experimental:
  abortOnPluginFailure: true
  localPlugins:
    traefik-real-ip:
      moduleName: github.com/zekihan/traefik-real-ip
